apiVersion: apps/v1
kind: Deployment
metadata:
  name: devsecops-api
  labels:
    app: my-api
spec:
  replicas: 2  
  selector:
    matchLabels:
      app: my-api
  template:
    metadata:
      labels:
        app: my-api
    spec:
    imagePullSecrets:
      - name: regcred
    containers:
      - name: api-container
        # Using my image 
        # Need to EXPORT your aws account ID with the commmand "export AWS_ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)"
        image: ${AWS_ACCOUNT_ID}.dkr.ecr.eu-west-3.amazonaws.com/devsecops-app
        imagePullPolicy: Always # For using my image
        ports:
        - containerPort: 8000
        env: 
          - name: AWS_REGION
            value: "eu-west-3"
          - name: DYNAMODB_TABLE
            value: "devsecops-items"